@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  overflow-y: visible;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7)) no-repeat fixed;
  background: linear-gradient(to bottom, #af67e9, #6565e7) no-repeat fixed;
  font-size: 1.2rem;
  font-family: "Kumbh Sans", sans-serif;
}

h1 {
  font-weight: 700;
  color: #1d1e35;
  font-size: clamp(1.2rem, 8vmin, 100rem);
}

h2 {
  color: #4a4b5e;
  font-weight: 400;
  font-size: clamp(1.2rem, 3.6vmin, 100rem);
}

h2:hover {
  color: #f47c57;
  cursor: pointer;
}

p {
  font-weight: 400;
  color: #787887;
  font-size: clamp(1.2rem, 3vmin, 100rem);
}

hr {
  border: none;
  border-bottom: 0.1rem solid #e7e7e9;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.hide {
  display: none;
}

.accordion, .illustration__mb {
  margin: 0 auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 14vmin;
  min-width: 200px;
  position: relative;
  left: 50%;
  top: 20vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 6rem);
  padding-bottom: clamp(2rem, 7vh, 4rem);
  margin-bottom: 50%;
  background: white url("/./img/bg-pattern-mobile.svg") no-repeat center top/67% auto;
  border-radius: 2rem;
  -webkit-box-shadow: 0.5rem 2rem 3rem rgba(29, 30, 53, 0.3);
          box-shadow: 0.5rem 2rem 3rem rgba(29, 30, 53, 0.3);
}

.accordion {
  width: calc(100% - 4rem);
}

.accordion__header {
  padding-bottom: 2rem;
}

.accordion__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 1.5rem;
}

.accordion__q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion__a {
  padding-top: 1rem;
  width: calc(100% - 2rem);
}

.illustration__mb {
  width: 67%;
  margin-top: -30%;
}

@media only screen and (orientation: portrait) {
  h1 {
    text-align: center;
  }
  .illustration__mb {
    display: block;
  }
  .illustration__pc {
    display: none;
  }
  .card {
    background: white url("/./img/bg-pattern-mobile.svg") no-repeat center top/67% auto;
  }
}

@media only screen and (orientation: landscape) {
  h1 {
    text-align: left;
  }
  .illustration__mb {
    display: none;
  }
  .illustration__pc {
    display: block;
  }
  .card {
    background: white url("/./img/bg-pattern-desktop.svg") no-repeat left;
  }
}
/*# sourceMappingURL=main.css.map */