@media only screen and (orientation: portrait) {
  h1{
    text-align: center;
  }

  .illustration {
    &__mb{
        display:block;
    }
    
    &__pc {
      display: none;
    }
  }
}
