@media only screen and (orientation: portrait) {
  h1{
    text-align: center;
  }

  .illustration {
    &__mb{
        display:block;
    }
    
    &__pc {
      display: none;
    }
  }

  .card{
    background: white url('/./img/bg-pattern-mobile.svg') no-repeat center top / 67% auto;
  }
}
