.card {
  &__illustration {
      background: url('/./img/illustration-woman-online-mobile.svg') no-repeat center top;
  }

  &__faq {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}
