.accordion {
  width: calc(100% - 4rem);
  @extend %center-margin;

  &__header {
    padding-bottom: 2rem;
  }

  &__main {
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;
  }

  &__q {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__a {
    padding-top: 1rem;
    width:calc(100% - 2rem);
  }
}
