h1 {
  font-weight: $bold;
  color: $txt-pr;

  // font-size: $h1-sz;
}

h2 {
  color: $txt-sc;
  font-weight: $med;
  // font-size:$h2-sz;

  &:hover {
    color: $txt-hover;
    cursor: pointer;
  }
}

p {
  font-weight: $med;
  color: $txt-tr;
  // font-size: $body-sz;
}

hr {
  border: none;
  // border-bottom: .1rem solid $div-c;
}
