  h1 {
    font-weight: $bold;
    color: $txt-pr;
  }

  h2 {
    color: $txt-sc;
    font-weight: $med;

    &:active {
      color: $txt-pr;
      font-weight: $bold;
    }
  }

  p {
    font-weight: $med;
    color: $txt-tr;
  }

  hr{
    border:none;
    border-bottom: .1rem solid $div-c;
  }
