//Colors
    //Gradient
    $bg-c: linear-gradient(to bottom,hsl(273, 75%, 66%),hsl(240, 73%, 65%));

    //Text
    $txt-pr:hsl(238, 29%, 16%);
    $txt-sc:hsl(237, 12%, 33%);
    $txt-tr:hsl(240, 6%, 50%);
    $txt-hover:hsl(14, 88%, 65%);
    
    //Divider
    $div-c: hsl(240, 5%, 91%);

//Font
    //Family
    $ks:'Kumbh Sans', sans-serif;

    //Weight
    $med:400;
    $bold:700;

    //Size
    $large-sz: calc(1.2rem + 4vmin);
    // $med-sz:;
    // $small-sz:;
    $body-sz: 1.2rem;

